*,
::before,
::after{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
========================
Variables
========================
*/
:root{
    /* Colors */
	--bg-color: #f1f5f8;
    --bg-color-2: #fff;
    --heading-color-1: #0b212d;
    --heading-color-2: #37517e;
	--text-color: #617d98;
    --text-color-2: #333;
	
    --gray-color-2: #324d67;
	--gray-color-3: #4a5562;
	--gray-color-4: #515d6a;
    
    --gray-color-6: #0d2735;
    
	--white-color: #fff;
	--black-color: #222;
	/* Box Shadows */
	--box-shadow-light: 0 3px 3px rgba(0,0,0,0.2);
	--box-shadow-dark: 0 3px 3px rgba(0,0,0,0.4);
	/*Transition*/
	--transition-1: all 0.3s ease;
	--transition-2: all 0.3s ease-in-out;
	/*Letter Spacing*/
	--spacing: 0.1rem;
}
.dark-mode{
    --bg-color: #0d2735; /*#324d67;*/
    --bg-color-2: #0b212d;
    --heading-color-1: #fff;
    --heading-color-2: #fff;
    --text-color: #fff;
    --text-color-2: #fff;
    --bg-color-3: #3e8da8;
    --bg-color-4: #282c35;
    --bg-color-5: #0b212d;
   
}

/*
=========================
Global Styles
=========================
*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    transition: var(--transition-1);
}   
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
h2{
    /*font-weight: 200;*/
}
h2,h4{
    letter-spacing: var(--spacing);
}
h2{
    color: var(--heading-color-1);
    text-transform: capitalize;
}
h4{
    color: var(--heading-color-2);
    text-transform: capitalize;
}
p{
    color: var(--text-color);
}
img{
    display: block;
}

/*
====================
Navigation
====================
*/
nav{
    background-color: var(--bg-color-2);
    box-shadow: var(--box-shadow-dark);
    transition: var(--transition-2);
    width: 100%;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
}

.switch-btn{
    position: relative;
    background-color: transparent;
    border: 1px solid #0275d8;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    padding: 0 1rem;
    box-shadow: var(--box-shadow-light);
    cursor: pointer;
}
.switch-btn span{
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.switch{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0275d8;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: var(--transition-2);
}

.slide .switch{
    left: 50%;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 8rem;
}
/*.logo a{
    font-size: 25px;
    font-weight: bold;
    text-shadow: var(--box-shadow-dark);
}
.logo .one-half-logo{
    color: darkred;
}
.logo .other-half-logo{
    color: #0275d8;
}*/
.menu-icon{
    color: var(--text-color-2);
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--transition-1);
}
.links-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    height: 0;
    overflow: hidden;
    transition: var(--transition-2);
}
/*.show-links{
    height: 8rem;
}*/
.links li{
    padding-top: 1rem;
}
.links li a{
    color: var(--text-color-2);
    font-size: 1.1rem;
}
.links li a:hover{
    color: dodgerblue;
}
.links a.active{
    font-weight: bold;
    color: #0275d8;
}
/*
===============
main
===============
*/


/*
======================
Section
======================
*/
section{
    width: 90vw;
	max-width: 1250px;
	margin: 3rem auto;
}
.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem 0;
}
.underline{
    width: 3rem;
    height: 3px;
    background-color: #0275d8;
    border-radius: 15px;
}

/*
=========================
About
=========================
*/
.about{
    display: grid;
    background-color: var(--bg-color-2);
    padding: 1rem 1rem;
    box-shadow: var(--box-shadow-dark);
    border-radius: 10px;
 }
.about-img{
    margin-bottom: 2rem;
    /*background-color: #f2f2f2;*/
    border-radius: 10px;
}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about-text p{
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.85rem;
    text-align: justify;
}
.about-text span{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

/*
====================
Contact
====================
*/
.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact h4{
    color: var(--heading-color-2);
    text-transform: uppercase;
    font-size: 0.75rem;   
    padding-bottom: 0.4rem;
}
.contact .socials button{
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.contact .socials button:hover{
    background-color: #ccc;
}
.contact .socials .fa-twitter{
    color: #0275d8;
}
.contact .socials .fa-linkedin{
    color: mediumblue;
}
.contact .socials .fa-whatsapp{
    color: darkgreen;
}
.contact .cv .cv-btn{
    background-color: #0275d8;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0.4rem 0.6rem;
    text-align: center;
    font-size: 0.8rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.contact .cv .cv-btn:hover{
    background-color: mediumblue;
}
/*
====================
Projects
====================
*/
.projects{
    display: grid;
    gap: 1rem;
    /*background-color: #fff;
    padding: 1rem 1rem;*/
}
.featured-project{
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 450px;
    box-shadow: 0 5px 3px rgba(0,0,0,0.3);
    transition: all0.3s ease;
}
.project-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: all 0.3s ease-in-out;
    opacity: 1;
    
}
.project-info > h2{
    color: white;
}
.featured-project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-btns button{
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0.4rem 0.6rem;
    text-align: center;
    font-size: 0.8rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.project-btns .web-btn{
    background-color: #f82249;
}
.project-btns .git-btn{
    background-color: #0275d8;
}
#project-category{
    width: 13.5rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
}
.tech-stack{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.5rem;
    z-index: 2; 
    background-color: rgba(255,255,255,0.2);
    transition: var(--transition-1);
    box-shadow: var(--box-shadow-light);
    color: #222;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
}
.project-info:hover .tech-stack{
    background-color: rgba(255,255,255,0.8);
}
/*
==================
skills
==================
*/
.skills{
    display: grid;
    gap: 1rem;
    background-color: var(--bg-color-2);
    box-shadow: var(--box-shadow-light);
    padding: 1rem 1rem;
    transition: var(--transition-1);
}
.skill-container{
    display: grid;
    
}
.skill-container .skill-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4rem;
}
.skill-container .skill-info h4{
    color: var(--heading-color-2);
    text-transform: uppercase;
    font-size: 0.75rem;
}
.skill-container .skill{
    width: 100%;
    background-color: #ddd;
    height: 10px;
}

.skill-container .skill .html{
    width: 95%;
    height: 10px;
    background-color: var(--gray-color-3);
}
.skill-container .skill .css{
    width: 90%;
    height: 10px;
    background-color: dodgerblue;
}
.skill-container .skill .js{
    width: 80%;
    height: 10px;
    background-color: tomato;
}
.skill-container .skill .react{
    width: 60%;
    height: 10px;
    background-color: #f82249;
}
.skill-container .skill .php{
    width: 85%;
    height: 10px;
    background-color: violet;
}
.skill-container .skill .mysql{
    width: 90%;
    height: 10px;
    background-color: mediumorchid;
}
.skill-container .skill .node{
    width: 50%;
    height: 10px;
    background-color: mediumseagreen;
}
.skill-container .skill .wordpress{
    width: 95%;
    height: 10px;
    background-color: mediumvioletred;
}
.skill-container .skill .bootstrap{
    width: 75%;
    height: 10px;
    background-color: dodgerblue;
}
.skill-container .skill .tailwind{
    width: 50%;
    height: 10px;
    background-color: slateblue;
}

/*
=====================
Animation
=====================
*/
.animate{
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.4s linear;
    /*transition-delay: 0.4s;*/
}
.slide-into-view{
    opacity: 1;
    transform: translateX(0);
}
/*
=====================
footer
=====================
*/
footer{
    background-color: #0b212d;
    width: 100%;
    padding: 2rem 2rem;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}

/*
================
top link
================
*/
#top-link{
    position: fixed;
    bottom: 5%;
    right: 4.5%;
    z-index: 1;
    display: none;
}
#top-link button{
    border: none;
    border-radius: 5px;
    background-color: #0275d8;
    opacity: 0.7;
    color: #fff;
    padding: 0.4rem 0.6rem;
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#top-link button:hover{
    opacity: 1;
}

/*
===================
@media queries
===================
*/

@media screen and (min-width: 480px) {
    .projects{
        grid-template-columns: repeat(2, 1fr);
    }
    .skills{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 768px){
    .menu-icon{
        display: none;
    }
    .links-container{
        height: auto !important;
    }
    .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1250px;
        margin: auto;
    }
    .links{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .links li{
        padding-top: 0;
        padding-left: 3rem;
        letter-spacing: var(--spacing);
    }
    .about{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .about-img{
        margin-bottom: 0;
    }
    
    .projects{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and (min-width: 992px){
    .projects{
        grid-template-columns: repeat(4, 1fr);
    }
}